.blue-option {
    color:blue
}
.brown-option {
    color:brown
}
.green-option {
    color:green
}
.orange-option {
    color:orange
}
.pink-option {
    color:pink
}
.purple-option {
    color:purple
}
.red-option {
    color:red
}
.yellow-option {
    color:yellow
}

