.blue-option {
    background-color:blue;
}
.brown-option {
    background-color:brown;
}
.green-option {
    background-color:green;
}
.orange-option {
    background-color:orange;
}
.pink-option {
    background-color:pink;
}
.purple-option {
    background-color:purple;
}
.red-option {
    background-color:red;
}
.yellow-option {
    background-color:yellow;
}

