<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" href="../static/main.css">
  <title>Favorite Colors</title>
 </head>

 <body>
  <h2>What is your favorite color? </h2>
  <form method="POST" action="">
   First Name: <br>
   <input type="text" name="name" required><br>
   Favorite Color:<br>
   <select name ="color">
    <option value = "blue" class="blue-option">Blue</option>
    <option value = "brown" class="brown-option">Brown</option>
    <option value = "green" class="green-option">Green</option>
    <option value = "orange" class="orange-option">Orange</option>
    <option value = "pink" class="pink-option">Pink</option>
    <option value = "purple" class="purple-option">Purple</option>
    <option value = "red" class="red-option">Red</option>
    <option value = "yellow" class="yellow-option">Yellow</option>
   <input type="submit">
  </form>
 
 </body>
</html>
